.global-tournaments-page-container {
  .main-events-block {
    width: calc(100% - 40px);
    align-self: center;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-events-block_header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 30px;

      h3 {
        color: #444;
        text-align: center;
      }
    }

    .main-events-block_events-list {
      width: calc(100% - 10px);
      margin-top: 15px;

      > .columns {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0px;
        padding: 10px;
        background-color: #252830;
        border-bottom: 4px solid #252830;

        span {
          font-size: 14px;
          color: $white;
          margin-left: 10px;
          text-transform: capitalize;
        }
      }

      .e-name,
      .ET-event-item__name {
        width: 40%;
      }

      .e-division,
      .ET-event-item__division {
        width: 18%;
      }

      .e-entry-fee,
      .ET-event-item__entry-fee {
        width: 15%;
      }

      .e-prize-pool,
      .ET-event-item__prize-pool {
        width: 15%;
      }

      .e-players,
      .ET-event-item__players {
        width: 12%;
      }

      > .body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        > div {
          width: 100%;
        }

        &::-webkit-scrollbar {
          width: 7px;
          height: 10px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $scrollbar-gray;
          border-radius: 10px;
        }
        border-bottom: 4px solid #252830;
      }
    }
  }
}
