.global__gym {
  width: 100%;
  padding: 20px;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    color: $text-dark;
    margin-top: 15px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: $text-dark;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
