.global-modal-window-content.auth-modal {
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
  top: 20%;
  left: calc(50% - 250px);
  margin: 0 auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  @media screen and (max-width: 650px) {
    width: 430px;
    max-height: 500px;
    left: calc(50% - 215px);
  }

  @media screen and (max-width: 450px) {
    width: 300px;
    max-height: 500px;
    left: calc(50% - 150px);
    .title {
      margin-top: 10px;
      .login-title {
        font-size: 24px;
      }
    }

    .close-button {
      svg {
        font-size: 18px !important;
      }
    }

    button.login-with-metamask {
      font-size: 16px !important;
    }

    .tooltip-learn {
      margin-top: 20px !important;
    }
  }

  .auth-content {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $gray;
    }

    svg {
      font-size: 20px;
    }
  }

  .metamask-icon {
    width: 150px;
    margin: 10px 0;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-title:first-child {
      margin-right: 10px;
    }

    .stick {
      width: 3px;
      height: 35px;
      background-color: $text-dark;
      margin-right: 10px;
    }
  }

  .login-title {
    font-size: 32px;
    color: $text-dark;
    text-transform: uppercase;
    font-family: 'Cairo', sans-serif;
    display: flex;
  }

  button.login-with-metamask {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid rgb(106, 114, 122);
    border-radius: 5px;
    color: $text-dark;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: rgb(221, 221, 221);
      color: $black;
    }
  }

  .warning-message {
    color: $light-red;
    font-weight: normal;
    margin-top: 5px;
    display: flex;
    align-items: center;

    i {
      color: $light-red;
      margin-right: 5px;
      font-size: 20px;
    }
  }

  .metamask-doenst-exist {
    max-width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: rgb(187, 121, 0);
    font-weight: 600;

    i {
      font-size: 24px;
      color: rgb(187, 121, 0);
      margin-right: 10px;
    }

    span {
      text-align: center;
    }
  }

  .tooltip-learn {
    margin-top: 30px;
    align-self: flex-start;
    font-size: 14px;
    color: $text-dark;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    text-decoration: none;
    span {
      text-decoration: underline;
    }

    i {
      color: $text-dark;
      transition: color 0.3s ease;
      margin-right: 5px;
      font-size: 20px;
      text-decoration: none !important;
    }

    &:hover {
      color: rgb(117, 117, 117);
      i {
        color: rgb(117, 117, 117);
      }
    }
  }
}
