// endpoints:
// 1 - 1100px
// 2 - 800px
// 3 - 500px

.global-modal-window-content.balance-modal {
  width: 1000px;
  max-height: 80%;
  overflow-y: auto;
  top: 10%;
  left: calc(50% - 500px);
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  transition: height 0.2s ease;
  overflow-y: auto;
  color: $text-dark;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(219, 219, 219);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-200;
    border-radius: 5px;
  }

  .balance-content-header {
    min-height: 130px;
    height: 130px;
    width: 100%;
    position: relative;

    .close-button {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 10px;
      padding: 5px;
      i {
        font-size: 20px;
        color: $text-dark;
      }
    }

    .settings-buttons {
      position: absolute;
      top: 5px;
      left: 5px;
      display: flex;
      column-gap: 5px;
      button,
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        cursor: pointer;
        padding: 10px;
        width: 35px;
        height: 35px;
        text-decoration: none;
        i {
          font-size: 18px;
          color: $text-dark;
        }
        &:hover {
          background-color: rgb(224, 224, 224);
        }
      }
    }
  }

  .transfer-block {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      width: 100%;
    }

    .transfer-icon {
      i {
        font-size: 28px;
      }
    }

    .actions-area {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
    }

    .actions-area-small {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      margin-top: 7px;

      @media screen and (min-width: 800px) {
        display: none;
      }
    }

    button.deposit,
    button.withdraw {
      padding: 10px 20px;
      border-radius: 3px;
      transition: border 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
      border: 2px solid rgb(117, 110, 110);
      background-color: $white;
      color: $text-dark;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        border: 2px solid rgb(184, 10, 10);
        border-radius: 10px;
        color: rgb(184, 10, 10);
      }

      @media screen and (max-width: 600px) {
        padding: 8px 15px;
        font-size: 14px;
      }
    }
    button.deposit.active,
    button.withdraw.active {
      border: 2px solid rgb(184, 10, 10);
      border-radius: 10px;
      color: rgb(184, 10, 10);
      background-color: rgb(255, 230, 234);
    }

    .beta,
    .beta-small {
      text-decoration: underline;
      font-size: 13px;
      cursor: pointer;
    }
    .beta-small {
      margin-top: 3px;
      @media screen and (max-width: 600px) {
        font-size: 11px;
      }
      @media screen and (min-width: 800px) {
        display: none;
      }
    }
  }

  .ethereum-card {
    @include payment-card;
    background-image: url('../../../../../../assets/website/ethereum-card.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .metamask-card {
    @include payment-card;
    background-image: url('../../../../../../assets/website/metamask-card.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .balance-content-body {
    width: 100%;
    background-color: $white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -2px 2px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -2px 2px 0px rgba(34, 60, 80, 0.2);
    padding-top: 120px;
    transition: height 0.2s ease;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    .settings {
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;

      h3.history-screen-label {
        margin-top: 10px;
        font-size: 22px;
      }

      .history-list {
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid $gray-200;
        width: calc(100% - 30px);
        max-height: 300px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: rgb(219, 219, 219);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $gray-200;
          border-radius: 10px;
        }
      }

      .history-list-item {
        background-color: transparent;
        width: 100%;
        padding: 5px 20px;
        border-bottom: 1.5px solid $gray-100;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 20px;

          .operation-type {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.6px;
          }

          .status {
            background-color: forestgreen;
            border-radius: 10px;
            padding: 5px 10px;
            font-size: 14px;
            color: $white;
            font-weight: 600;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          row-gap: 5px;

          .date {
            font-size: 13px;
            color: rgb(119, 119, 119);
          }

          .amount {
            font-weight: 600;
          }
        }
      }
      .history-list-item:last-child {
        border-bottom: none;
      }
      .history-list-item.deposit {
        .amount {
          color: rgb(29, 129, 29);
        }
      }
      .history-list-item.withdraw {
        .amount {
          color: brown;
        }
      }
    }

    .transfer-content {
      width: 100%;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .transfer-main-area {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

      .transfer-button {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        color: $white;
        background-color: $text-dark;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 2px solid $text-dark;
        &:hover {
          background-color: rgb(90, 90, 90);
        }
      }

      .warning {
        color: rgb(134, 130, 130);
        background-color: $gray;
        padding: 5px 10px;
        align-self: center;
        margin-top: 10px;

        i {
          margin-right: 10px;
        }
      }

      .input-label {
        margin-bottom: 10px;
      }
      .current-balance {
        margin-left: 10px;
      }

      .inputs {
        display: flex;
        align-items: center;

        > span {
          margin: 0 10px;
        }

        .input-item {
          input {
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid $gray-100;
          }
          input:focus {
            outline: 1ps solid $text-dark;
            -webkit-box-shadow: 0px 0px 15px -2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 0px 15px -2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 0px 15px -2px rgba(34, 60, 80, 0.2);
          }
          span {
            margin-left: 5px;
            font-weight: 500;
          }
          span.transparent {
            color: rgb(121, 115, 115);
          }
        }
      }
    }
  }

  // endpoints

  // 1100px
  @media screen and (max-width: 1100px) {
    width: 800px;
    left: calc(50% - 400px);

    .metamask-card,
    .ethereum-card {
      zoom: 0.8;
    }
  }

  // 800px
  @media screen and (max-width: 800px) {
    width: 500px;
    left: calc(50% - 250px);
    max-height: 80%;
    overflow-y: auto;

    .metamask-card,
    .ethereum-card {
      zoom: 0.8;
    }

    .transfer-block {
      .row {
        column-gap: 10px;
        .actions-area {
          display: none;
        }
      }
      .actions-area-small {
        display: flex;
      }
    }

    .balance-content-body {
      padding-top: 170px;

      .transfer-content {
        .transfer-main-area {
          .input-item {
            input {
              width: 150px;
            }
          }
        }
      }
    }
  }

  // 500px
  @media screen and (max-width: 500px) {
    width: 320px;
    left: calc(50% - 160px);

    .metamask-card,
    .ethereum-card {
      zoom: 0.5;
    }

    .balance-content-body {
      padding-top: 90px;

      .transfer-content {
        .input-label {
          font-size: 14px;
          text-align: center;
        }

        .transfer-main-area {
          .input-item {
            input {
              width: 90px;
              padding: 5px 5px;
              font-size: 14px;
            }
            span {
              font-size: 12px;
            }
          }
        }

        .warning {
          font-size: 13px;
          text-align: center;
        }
      }

      .settings {
        .history-screen-label {
          font-size: 18px !important;
        }

        .history-list {
          width: 100%;
        }

        .history-list-item {
          width: 100%;
          padding: 5px 10px;
          border-bottom: 1.5px solid $gray-100;

          .left {
            column-gap: 5px;

            .operation-type {
              font-size: 12px;
              letter-spacing: normal;
            }

            .status {
              padding: 5px 7px;
              font-size: 10px;
              font-weight: 500;
            }
          }

          .right {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            .date {
              font-size: 11px;
            }

            .amount {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
