.global__profile .boxers_info .boxers_list {
  width: 100%;

  .boxers-list-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
  }

  .row {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
    flex-wrap: wrap;
  }

  .slider-container {
    width: 100%;
    margin-top: 10px;

    div.mq-punch-boxer_profile {
      margin: 0 auto;
      margin-bottom: 5px;
    }
  }

  .visit-market {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(207, 207, 207);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    padding-bottom: 15px;
    * {
      color: #333;
    }

    h3 {
      font-size: 30px;
    }

    .market-text {
      font-size: 18px;
      margin-top: 8px;
    }

    .market-text a {
      text-decoration: none;
      font-weight: 600;
    }

    .info-msg {
      font-size: 14px;
      margin-top: 40px;
    }

    @media screen and (max-width: 600px) {
      padding: 20px;
      padding-bottom: 10px;

      h3 {
        text-align: center;
        font-size: 22px;
      }
      .market-text {
        text-align: center;
        font-size: 18px;
      }
      .info-msg {
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }
}
