#global-portal-datepicker {
  div.react-datepicker {
    background-color: red;
  }

  div.global-portal-datepicker-header {
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: red;
  }
}
