.training-card {
    background-color: #000;
    height: 250px;
    position: relative;
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
    background-image: url('../../../../../../assets/website/gym/agility.svg');
}