.training-card {
    background-color: #000;
    position: relative;
    width: calc(100% - 20px);
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 5px;
    overflow: hidden;

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    span.training_not_avaliable {
        color: #aaa;
        position: absolute;
        bottom: 10px;
        right: 15px;
        padding: 6px 16px;
        font-size: 20px;
    }

    .training-button {
        outline: none;
        border: none;
        background-color: #860000;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        position: absolute;
        bottom: 10px;
        right: 15px;
        padding: 6px 16px;

        span {
            color: #fff;
            font-size: 16px;
        }   
    }

    .info-container {
        position: absolute;
        top: 30px;
        left: 50px;
        display: flex;
        flex-direction: column;
        
        .title {
            color: #fff;
            font-size: 40px;
        }  
        
        .description {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
        }

        @media screen and (max-width: 800px) {
            top: 0px;
            left: 10px;

            .title {
                font-size: 20px;
            } 

            .description {
                font-size: 12px;
            }
        }
    }
}

.mobile-training-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: flex-end;

    .training-button {
        outline: none;
        border: none;
        background-color: #860000;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 3px 5px;

        span {
            color: #fff;
            font-size: 11px;
            line-height: 14px;
        }   
    }

    span.training_not_avaliable {
        color: #aaa;
        padding: 3px 5px;
        font-size: 12px;
    }
}