.training-card {
    background-color: #000;
    position: relative;
    width: calc(100% - 20px);
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 5px;
    overflow: hidden;

    span.training_not_avaliable {
        color: #aaa;
        position: absolute;
        bottom: 10px;
        right: 15px;
        padding: 6px 16px;
        font-size: 20px;
    }

    .training-button {
        outline: none;
        border: none;
        background-color: #EE0304;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        position: absolute;
        bottom: 10px;
        right: 15px;
        padding: 6px 16px;

        span {
            color: #fff;
            font-size: 16px;
        }   
    }

    .training-button:hover {
        background-color: #860000;
    }

    .disabled {
        background-color: #860000;
        cursor: not-allowed;
    }

    .info-container {
        position: absolute;
        top: 30px;
        left: 50px;
        display: flex;
        flex-direction: column;
        
        .title {
            color: #fff;
            font-size: 40px;
        }  
        
        .description {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
        }
    }
}