// event item desciption
.ET-body {
  .ET-event-item {
    width: 100%;
    padding: 13px 10px;
    cursor: pointer;
    background-color: $gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(226, 226, 226);
    overflow: hidden;
    transition: background-color 0.2s ease, height 0.2s ease, padding 0.2s ease,
      border-bottom 0.2s ease;

    &:hover {
      background-color: lighten($color: $gray, $amount: 5);

      .ET-event-item__division .division-container {
        background-color: darken($color: $white, $amount: 5);
      }
    }
  }

  .ET-event-item.opened {
    height: 0px;
    padding: 0px 10px;
    border-bottom: none;
  }

  .ET-event-item.skeleton {
    padding: 13px 10px;

    .ET-event-item__name,
    .ET-event-item__division,
    .ET-event-item__entry-fee,
    .ET-event-item__prize-pool,
    .ET-event-item__players {
      div {
        height: 25px;
        border-radius: 5px;
        opacity: 0.7;
        background: #c7c7c7;
        position: relative;
        margin-right: 120px;
        min-width: 80px;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translateX(-100%);
          background-image: linear-gradient(
            90deg,
            rgba(#eee, 0) 0,
            rgba(#eee, 0.2) 20%,
            rgba(#eee, 0.5) 60%,
            rgba(#eee, 0)
          );
          animation: skeleton-loading 2s infinite;
          content: '';
        }
      }
    }
  }

  .ET-event-item__name {
    span {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.5px;
      font-family: 'Cairo', sans-serif;
      color: $text-dark;
    }
  }

  .ET-event-item__division {
    .division-container {
      width: min-content;
      padding: 5px 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: darken($color: $gray, $amount: 3);
      transition: background-color 0.2s ease;

      span {
        font-family: 'Cairo', sans-serif;
        font-weight: bold;
        font-size: 14px;
      }

      svg {
        width: 35px;
        margin-left: 4px;
      }
    }
  }

  .ET-event-item__entry-fee,
  .ET-event-item__prize-pool {
    padding-left: 20px;
    span {
      font-size: 16px;
      font-weight: 500;
      color: forestgreen;
    }
  }

  .ET-event-item__players {
    span {
      margin-left: 20px;
    }
  }
}

// opened event item description
.ET-body {
  .ET-opened-event {
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    border-bottom: 2px solid rgb(226, 226, 226);
    position: relative;
    overflow: auto;
    max-height: 0px;
    padding: 10px;

    transition: max-height 0.2s ease, padding 0.2s ease;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-gray;
      border-radius: 10px;
    }
  }
  .ET-opened-event.opened {
    max-height: 500px;
  }

  .ET-opened-event__name {
    font-size: 24px;
    color: $text-dark;
  }

  .ET-opened-event__header {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .ET-opened-event__header__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
  }

  .ET-opened-event__header__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
  }

  .ET-opened-event__main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;

    > div {
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
    }

    div.player {
      border: 2px solid rgb(201, 201, 201);
      padding: 5px;
      justify-content: space-between;
      img {
        max-width: calc(100% - 5px);
        max-height: 100px;
        border-radius: 10px;
      }
    }

    div.join {
      background-color: #eee;
      cursor: pointer;
      row-gap: 10px;
      text-align: center;
      justify-content: center;
      border: 1px solid dimgray;
    }

    div.join span {
      font-size: 20px;
      font-weight: 600;
      color: dimgray;
    }
  }

  div.close-button {
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  div.close-button i {
    font-size: 20px;
  }
}
