.global-main-page {
  .live-events {
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: #333;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 33, 33);

    div.live-events-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .line {
        width: 400px;
        height: 5px;
        background-color: #eee;
        &:first-child {
          border-bottom-left-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
        }
        &:last-child {
          border-bottom-right-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
        }
      }
    }

    h3.live-events-title {
      font-size: 32px;
      margin: 0 20px;
      text-transform: uppercase;
      color: #eee;
      font-weight: 700;
    }

    .live-events-content {
      width: calc(100% - 40px);
      padding-bottom: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #b62d2d;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #8f1d1d;
        border-radius: 10px;
      }

      .live-event-single-event {
        min-width: 500px;
        min-height: 180px;
        position: relative;
        width: 100%;
        background-color: #8f1d1d;
        border: 3px solid #721313;
        margin: 0 8px;
        border-radius: 3px;
        color: #eee;
        padding: 10px;

        h4.title {
          font-size: 20px;
        }

        img {
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}
