.mq-punch-boxer-weight-category {
  padding: 3px 5px;
  text-align: center;
  background-color: #ac4343;
  border-radius: 3px;

  .weight-category-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
  }
}
