.global__profile {
  box-sizing: border-box;
  padding-top: 120px;

  .profile__container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }

  .profile__header {
    width: 100%;
    height: 200px;
    padding: 0 10px;
  }
  .profile__header__inner {
    display: flex;
  }

  .profile__header__photo {
    width: 9%;
    height: 100%;
  }

  .profile__header__text {
    width: 90%;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 2px;
  }
  .profile__header__data {
    display: flex;
    justify-content: space-between;
    border-bottom: $text 1px solid;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .profile__header__info {
    display: flex;
    .profile__header__name {
      color: $text;
      font-size: 24px;
      font-weight: 500;
    }
    .profile__header__nick {
      font-size: 35px;
      font-weight: 500;
      color: #000000;
    }

    .profile__header__copy {
      margin-left: 50px;
      font-size: 24px;
      position: relative;
      i {
        position: absolute;
        bottom: 12%;
        right: 0;
      }
    }
  }

  .profile__header__settings {
    display: flex;
    justify-content: center;
    text-align: center;

    .profile__settings__icon {
      font-size: 24px;
      color: $text;
      margin-right: 11px;
      position: absolute;
      left: -40%;
      top: 0%;
    }
    .profile__settings__text {
      font-size: 25px;
      font-weight: 500;
      color: $text;
      position: relative;
      transition: color 0.2s linear;

      &:hover {
        color: darken($text, 30%);
        cursor: pointer;
      }

      &:hover .profile__settings__icon {
        transform: rotate(90deg);
      }
    }
  }

  .profile__stats {
    display: flex;
  }

  .profile__stats__element {
    margin-right: 125px;
  }

  .profile__stats__text {
    color: $text;
    font-size: 20px;
    margin-bottom: 17px;
  }
  .profile__stats__value {
    color: #000000;
    font-size: 25px;
  }

  .profile__stable {
    margin-top: 133px;
  }

  .profile__stable__inner {
    text-align: center;
  }

  .profile__stable__title {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .profile__stable__subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .profile__offer {
    margin-top: 57px;
  }

  .profile__block__style {
    background-color: #f5f5f5;
    background: #f5f5f5;
    box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.17);
    border-radius: 7px;
  }

  .profile__offer__inner {
    padding: 28px 0 51px 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile__offer__title {
    margin-bottom: 25px;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
  }

  .profile__offer__subtitle {
    margin-bottom: 35px;
    color: #000000;
    font-size: 20;
    font-weight: 400;
  }

  .profile__offer__form {
    display: flex;
    align-items: center;
  }

  .profile__offer__btn {
    padding: 18px 34px;
    margin-left: 27px;
    cursor: pointer;
    font-size: 20px;
    color: $text;
    background-color: #f9f9f9;
    border: 1px solid #b4b4b4;
    border-radius: 7px;
    transition: background-color 0.2s linear;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgb(235, 235, 235);
    }
  }

  .profile__settings {
    background-color: #8f1d1d;

    margin-top: 220px;
  }

  .profile__settings__nav {
    display: flex;
    justify-content: center;
  }

  .profile__nav__element {
    padding: 32px 0;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-right: 80px;
    position: relative;

    &:after {
      content: "";
      width: 120%;
      height: 4px;
      background-color: $white;
      position: absolute;
      bottom: 0%;
      left: -10%;
      opacity: 0;
      transition: opacity 0.3s linear;
    }

    &:hover:after {
      opacity: 0.8;
    }
  }

  .profile__nav__element-activ {
    color: $white;
  }

  .profile__nav__icon {
    margin-right: 10px;
    color: #bdbdbd;
    font-size: 35px;
  }

  .profile__nav__text {
    font-size: 35px;
    font-weight: 500;
    color: #bdbdbd;
  }

  .profile__transfer {
    margin-top: 106px;
  }

  .profile__transfer__inner {
    padding: 33px 48px 41px;
  }
}
