.global__profile {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  column-gap: 20px;
  min-height: 600px;

  .boxers_info {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    min-height: auto;
  }
}
