.global-main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .boxers-picture-container {
    width: 100%;
    //background: linear-gradient(0deg, #c4adb5 0%, #eee 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    &::before {
      content: '';
      top: 0;
      right: -50px;
      position: absolute;
      width: 500px;
      height: 500px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }
    &::after {
      content: '';
      bottom: 0;
      left: -50px;
      position: absolute;
      width: 500px;
      height: 500px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }
  }
}
