.global-main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .boxers-picture-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    &::before {
      content: '';
      top: 0;
      right: -50px;
      position: absolute;
      width: 500px;
      height: 500px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }
    &::after {
      content: '';
      bottom: 0;
      left: -50px;
      position: absolute;
      width: 500px;
      height: 500px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }
  }

  .leaderboard-container {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .first-left-shape {
      top: 30px;
      left: -50px;
      position: absolute;
      width: 300px;
      height: 100px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }
    .second-left-shape {
      top: 330px;
      left: -50px;
      position: absolute;
      width: 300px;
      height: 100px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }

    .first-right-shape {
      bottom: 30px;
      right: -50px;
      position: absolute;
      width: 300px;
      height: 100px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }
    .second-right-shape {
      bottom: 330px;
      right: -50px;
      position: absolute;
      width: 300px;
      height: 100px;
      transform: skew(-20deg);
      background: rgba(211, 198, 198, 0.466);
      z-index: 0;
    }

    .first-left-shape,
    .second-left-shape,
    .first-right-shape,
    .second-right-shape {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > div {
        width: 80%;
        margin: 10px 0;
        height: 10px;
        background-color: $gray;
      }
    }
  }
}
