.global-market-page {
  padding: 120px 47px;
  box-sizing: border-box;

  .market__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .market {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -10px;
  }

  .market__item {
    width: calc((100% - 20px * 5 - 47px * 2) / 5);
    margin-right: 10px;
    margin-bottom: 20px;
    height: 400px;
    border: 1px #a7a7a78c solid;
    border-radius: 8px;
    transition: box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.301);

      .puncher__photo {
        border-radius: 2px;
      }
    }

    .puncher__photo {
      height: 300px;
      background: none;
      border-radius: 0;
      transition: background 0.2s linear;
      transition: border-radius 0.2s linear;
    }

    .puncher__info {
      display: flex;
      justify-content: space-between;

      padding: 12px;
    }

    .puncher__info__title {
      color: $text;
      font-size: 12px;
    }

    .puncher__nick,
    .puncher__price__value {
      color: #000000;
      font-size: 16px;
      font-weight: 800;
    }
  }

  .market__social__inner {
    padding: 65px 0;
    background-color: #000000;
  }

  .market__social__title {
    text-align: center;
    color: $white;
    font-weight: 500;
    font-size: 44px;
  }

  .market__social__btn {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  .market__btn {
    padding: 7px 73px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 35px;
    color: $white;
    background: none;
    border: 2px solid #ee0304;
    border-radius: 9px;
    transition: background-color 0.2s linear;

    &:focus {
      outline: none;
    }

    &:hover {
      background: rgb(243, 9, 9);
    }
  }
}
