// primary colors
$white: #fff;
$black: #000;
$gray: #eee;
$gray-100: #aaa;
$gray-200: #bebaba;
$dark-red: #860000;
$light-red: #c20000;

// light

// text
$text-dark: #333;
$test-dark-100: #444;
$text: #3a3a3a;

// scrollbar
$scrollbar-gray: #dbdbdb;
